<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="returnDetailModal">
        <div class="modal fade" id="refundDetailModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">반품 상세</h5>
                    </div>
                    <div class="modal-body">
                        <div id="refund-detail-body">로딩중...</div>
                    </div>
                    <div class="modal-footer">
                        <button id="modal-accept-btn" type="button" class="btn btn-success d-none">승인</button>
                        <button id="modal-reject-btn" type="button" class="btn btn-danger d-none">거절</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
