<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>결제 성공</title>
    <script src="https://js.tosspayments.com/v2/standard"></script>
    <link rel="icon" href="https://static.toss.im/icons/png/4x/icon-toss-logo.png" />
</head>
<!-- TODO 일단 데이터 확인을 위한 페이지 - 실제 구현시 수정 필요 -->
<body>
<div layout:fragment="content">

    <div class="container-fluid">

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">결제 완료</h1>
        </div>

        <div class="box_section" style="width: 600px">
            <img width="100px" src="https://static.toss.im/illusts/check-blue-spot-ending-frame.png" />
            <h2>결제를 완료했어요</h2>

            <div class="p-grid typography--p" style="margin-top: 50px">
                <div class="p-grid-col text--left"><b>결제금액</b></div>
                <div class="p-grid-col text--right" id="amountDisplay"></div>
                <div class="p-grid-col text--right" th:text="${order.payPrice} + '원'"></div>
            </div>
            <div class="p-grid typography--p" style="margin-top: 10px">
                <div class="p-grid-col text--left"><b>주문번호</b></div>
                <div class="p-grid-col text--right" id="orderIdDisplay"></div>
                <div class="p-grid-col text--right" th:text="${order.orderId}"></div>
            </div>
            <div class="p-grid" style="margin-top: 30px">
                <button class="button p-grid-col5" onclick="location.href='/';">홈으로</button> <!-- TODO 홈페이지 주소 -->
            </div>
        </div>

        <div class="box_section" style="width: 600px; text-align: left; margin-top: 20px;">
            <b>Response Data (JSON):</b> <!-- 주문 내역 가져와서 보여주기 -->
            <div style="background: #f8f9fa; padding: 10px; border-radius: 5px; margin-top: 5px;">
                <pre id="response" style="white-space: pre-wrap; margin: 0;"></pre>
            </div>
        </div>

        <script th:inline="javascript"> //TODO 확인용. 완성되면 지우기
            /* Thymeleaf가 서버의 객체를 자바스크립트 변수로 변환해줍니다 */
            const orderData = /*[[${order}]]*/ {};

            // 객체를 예쁜 JSON 문자열로 변환하여 화면에 출력
            document.getElementById("response").textContent = JSON.stringify(orderData, null, 4);
        </script>
    </div>

</div>
</body>
</html>
