<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>주소 검색</title>

    <script>
        function init() {
            const params = new URLSearchParams(location.search);
            const inputYn = params.get("inputYn");

            if (inputYn !== "Y") {
                const confmKey = "devU01TX0FVVEgyMDI1MTExNzEwMTM0NDExNjQ1ODg=";
                const resultType = "4";

                //TODO 주소 재매핑 필요
                const fullReturnUrl = location.origin + "/mypage/address/jusoCallback";

                document.form.returnUrl.value = fullReturnUrl;
                document.form.confmKey.value = confmKey;
                document.form.resultType.value = resultType;
                document.form.action =
                    "https://business.juso.go.kr/addrlink/addrLinkUrl.do";

                document.form.submit();
                return;
            }
        }
    </script>
</head>
<body onload="init()">
<form name="form" method="post">
    <input type="hidden" name="confmKey">
    <input type="hidden" name="returnUrl">
    <input type="hidden" name="resultType">
    <input type="hidden" id="encodingType" name="encodingType" value="UTF-8"/>
</form>
</body>
</html>