<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"> <head>
    <meta charset="UTF-8">
    <title>주소 처리중...</title>

    <script th:inline="javascript">
        function initCallback() {

            const params = /*[[${jusoData}]]*/ {};

            opener.jusoCallBack(
                params.roadAddrPart1,
                params.addrDetail,
                params.zipNo,
            );

            window.close();
        }
    </script>
</head>
<body onload="initCallback()">
</body>
</html>
